body{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.centered{
    text-align: center;
    border: 1px solid red;
}
.start{
    position: relative;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border: 1px solid green;
    
}
#button{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background-color: greenyellow;
    position: relative;
    top: 100px;
    border: 1px solid white;
}
#options {
    width: 150px;
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 50px;
    border: 1px solid white;
}
.container-1{
    
    align-items: center;
    width: fit-content;
    padding: 20px;
    position: relative;
    margin: auto;
}
.opt{
    align-items: center;
    padding: 10px  20px;
    border: 1px solid white;
}
#option1 {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: lightseagreen;
    border-radius: 50px;
}
#option2 {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: lightseagreen;
    border-radius: 50px;
}
#option3 {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: lightseagreen;
    border-radius: 50px;
}
#option4 {
    width: 300px;
    padding: 10px;
    color: white;
    background-color:lightseagreen;
    border-radius: 50px;
}
#mark{
    border: 5px solid white;
    padding: 20px;
    width: 436px;
    height: 200px;
    margin: auto;
    font-size: 100px;
    font-weight: 1000;
    text-align: center;
    background-color: grey;
}
.nxt{
    width: fit-content;
    margin: auto;
    padding: 15px;
    border: 1px solid white;
}
.next{
    width: 170px;
    height: 50px;
    border-radius: 15px;
    background-color: grey;
    color: white;
    border: 1px solid white;
    
}
.col{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}
.full{
    width: fit-content;
    border: 1px solid darkorange;
    margin: auto;
}